@import 'login/login';
@import 'form/print_form';
@import 'panel/panel';
@import 'panel/notice';
@import 'panel/panel_notices';
@import 'panel/gestao_hub';
@import 'panel/navbar';
@import 'panel/jornal_section';
@import 'repository/repository';
@import 'course/manage_course';
@import 'util/flash_messages'; 
@import 'util/pagination';
@import 'form/forms';
@import 'course/course';
@import 'course/course_player';
@import 'course/course_progress';
@import 'course/manage_quiz';
@import 'users/manage_users';
@import 'nir/nir';
@import 'nir/procedure_management';
@import 'roles/roles_permissions';
@import 'util/colors';
@import 'nir/cc';
@import 'course/certificate';
@import 'feedback/supplier_evaluation';